<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>Marina V&amp;V</title>
        <link href="https://www.marinavv.com" rel="canonical"/>
        <meta content="Ubicada en el Mar Caribe. Marina V&amp;V ofrece productos, servicios e instalaciones de clase mundial, permitiéndonos llegar más allá de la expectativa." name="Description">
        <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="60x60">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
        <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
        <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
        <link href="/site.webmanifest" rel="manifest">
        <link color="#5bbad5" href="/safari-pinned-tab.svg" rel="mask-icon">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <meta content="#265782" name="theme-color">
        <meta content="#265782" name="background-color">
        <meta content="Marina V&amp;V" property="og:title"/>
        <meta content="Marina V&amp;V" property="og:site_name"/>
        <meta content="website" property="og:type"/>
        <meta content="Ubicada en el Mar Caribe. Marina V&amp;V ofrece productos, servicios e instalaciones de clase mundial, permitiéndonos llegar más allá de la expectativa." property="og:description"/>
        <meta content="/dist/images/marinavv-gallery-3.jpg" property="og:image"/>
        <meta content="https://www.facebook.com/vvmarinaoficial/" property="fb:pages"/>
        <meta content="https://www.marinavv.com" property="og:url"/> {% block head %}{% endblock %}
        <style>
            body {
                opacity: 1;
                transition: 0.8s opacity;
            }
            body.fade {
                opacity: 0;
                transition: none;
            }
        </style>
    </head>
    <body>
        {% spaceless %}
            <script>
                document.body.className = 'fade';
            </script>
            <nav class="navbar navbar-expand-lg fixed-top px-md-0 navbar-initial" id="navbar">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <img alt="Marina V&amp;V Cancun" src="dist/images/marinavv-logo.svg" width="125">
                    </a>
                    <button aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation" class="hamburger hamburger--collapse navbar-toggler" data-target="#navbarToggler" data-toggle="collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
                        <ul class="navbar-nav my-3 my-md-0 navbar-font-size">
                            {% for item in navbar %}
                                {% if item.dropdown is defined %}
                                    <li class="nav-item dropdown px-3 py-2">
                                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                                            {{ item.name }}
                                        </a>
                                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                                            {% for subitem in item.dropdown %}
                                                <a class="dropdown-item px-3 py-2" href={{subitem.link}}>{{ subitem.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% else %}
                                    <li class="nav-item px-3 py-2">
                                        <a class="nav-link" href={{item.link}}>{{ item.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {#<li class="nav-item px-3 py-2">
                                                                    <a class="nav-link pointer" data-language="{{ languageToChange }}" id="lang">
                                                                        <span>{{ languageToChange|upper }}</span>
                                                                    </a>
                                                                </li>#}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}

            <footer class="background-strongBlue px-0">
                <div class="container-fluid text-center pt-5">
                    <img alt="" src="dist/images/marinavv-logo.svg" width="125">
                    <hr class="my-3 border-red" size="2" width="150">
                    <div>
                        <a aria-label="Instagram" class="mx-3" href="https://www.instagram.com/vvmarinaoficial/" rel="nofollow noreferrer noopener" target="_blank">
                            <img alt="Instagram Marina V&amp;V" class="img-fluid lazy" data-src="dist/images/instagram-logo.png" width="23">
                        </a>
                        <a aria-label="Facebook" class="mx-3" href="https://www.facebook.com/vvmarinaoficial/" rel="nofollow noreferrer noopener" target="_blank">
                            <img alt="Facebook  Marina V&amp;V" class="img-fluid lazy" data-src="dist/images/facebook-logo.png" width="12">
                        </a>
                        <a aria-label="Youtube" class="mx-3" href="https://www.youtube.com/channel/UCMjI6kHxXKuX7XVybEX8Onw" rel="nofollow noreferrer noopener" target="_blank">
                            <img alt="Youtube  Marina V&amp;V" class="img-fluid lazy" data-src="dist/images/youtube-logo.png" width="25">
                        </a>
                    </div>
                    <div class="my-3 py-3">
                        <p class="text-white">{{ footer.address }}</p>
                        <div>
                            <p class="text-white d-inline-block mx-3">+52 (998) 234 01 0</p>
                            <p class="text-white d-inline-block mx-3">info@marinavv.com</p>
                        </div>
                    </div>
                    <div class="mb-2">
                        <ul class="nav justify-content-center">
                            {% for item in footer.menu %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ item.link }}">{{ item.text }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="container-fluid background-strongGray">
                    <div class="container px-0">
                        <small class="m-0 text-white">MARINA V&amp;V 2019</small>
                    </div>
                </div>
            </footer>
            {% block script %}{% endblock %}
            <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ4i3-kes4_0vLQcrMHN6-QyVKdTSfJ0k&libraries=places&output=embed"></script>
            <script async defer src="./dist/fonts.js?v=190701-1410"></script>
            <script defer src="./dist/styles.js?v=190701-1428"></script>
            <script async defer src="./dist/images.js?v=190701-1428"></script>
            <script defer src="./dist/scripts.js?v=190701-1428"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function (e) {
                    document.body.className = '';
                });
            </script>
        {% endspaceless %}
    </body>
</html></body></html>
