{% extends "_main.twig" %}
{% block body %}
    <header class="video-header">
        <div class="overlay"></div>
        <video autoplay="autoplay" class="video" id="video-background" loop="loop" muted="muted" playsinline="playsinline">
            <source src="{{ videoBackground }}" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <h1 class="display-3" data-aos-duration="1000" data-aos="fade-up">{{ principalTitle|raw }}</h1>
                </div>
                <div class="w-100 position-absolute absolute-bottom absolute-right my-2">
                    <p class="text-white m-0">SCROLL</p>
                    <a aria-label="Scroll" href="#aboutUs">
                        <span class="arrow-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="container text-center py-5 my-md-5" id="aboutUs">
            <h1 class="pt-3" data-aos="fade-down">{{ aboutUs.title }}</h1>
            <p class="mb-5 pb-3" data-aos="fade-up">{{ aboutUs.text }}</p>
        </section>

        <section class="container-fluid background-blue floating-section px-0 my-md-5" id="nationalQuality">
            <div class="row no-gutters">
                <div class="col-12 col-xl-7" data-aos="fade-right">
                    <img alt="Marina V&amp;V." class="img-fluid w-100 lazy" src="dist/images/marinavv-principal.jpg">
                </div>
                <div class="col-12 col-xl-5 px-3 px-xl-5 py-5 py-md-2 pt-xl-5 text-center text-xl-left" data-aos="fade-up">
                    <h1 class="text-white">{{ nationalQuality.title }}</h1>
                    <p class="text-white px-xl-5 d-none d-xl-block">{{ nationalQuality.text }}</p>
                    <p class="text-white px-xl-5 pb-md-4">{{ nationalQuality.text2 }}</p>
                </div>
            </div>
        </section>

        <section class="container-fluid px-0 pt-5 mt-md-5 text-center text-lg-left" id="explorvv">
            <h1 class="text-center pb-1 mb-lg-5">{{ explorevv.title }}</h1>
            {% for item in explorevv.items %}
                {% if item.direction %}
                    <div class="row no-gutters mb-5 pb-lg-5">
                        <div class="col-12 col-lg-6 order-2">
                            <img alt="{{ item.alt }}" class="img-fluid w-100 lazy" data-src="{{ item.img }}">
                        </div>
                        <div class="col-12 col-lg-6 px-3 pl-lg-5 pt-3 order-1 order-lg-2 mb-5">
                            <h2>{{ item.title }}</h2>
                            <div class="pr-auto pr-lg-5 mb-4">
                                <p class="pr-auto pr-lg-5 mr-auto mr-lg-5 text-justify">{{ item.text }}</p>
                            </div>
                            <a class="btn-lg px-5 py-3 btn-blue" href="{{ item.btn.link }}">{{ item.btn.text }}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row no-gutters mb-5 pb-lg-5">
                        <div class="col-12 col-lg-6 px-3 pr-lg-5 pt-3 mb-5">
                            <div class="pl-auto pl-lg-5 ml-lg-5">
                                <h2>{{ item.title }}</h2>
                                <p class="text-justify mb-4">{{ item.text }}</p>
                                <a class="btn-lg px-5 py-3 btn-blue" href="{{ item.btn.link }}">{{ item.btn.text }}</a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <img alt="{{ item.alt }}" class="img-fluid w-100 lazy" data-src="{{ item.img }}">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>

        <section class="container text-center pb-5 my-md-5" id="contactUs">
            <h1>{{ contactInfo.title }}</h1>
            <p class="mb-5">{{ contactInfo.text }}</p>
            <a class="btn-lg px-5 py-3 btn-blue" href="{{ contactInfo.btn.link }}">{{ contactInfo.btn.text }}</a>
        </section>
    </main>
{% endblock %}
