{% extends "_main.twig" %}
{% import "macros/contactBanner.twig" as ContactBanner %}
{% block body %}
    <header class="hero">
        <picture>
            <source media="(max-width: 768px)" srcset="{{ hero.srcMob }}">
            <source media="(min-width: 769px)" srcset="{{ hero.src }}">
            <img class="lazy" alt="{{ hero.alt }}" data-src="{{ hero.src }}">
        </picture>
        <div class="overlay"></div>
        <h2 class="title text-center mb-5">{{ hero.title }}</h2>
    </header>
    <main>
        <section class="container pt-5 mt-md-5 text-center" id="description">
            <p data-aos="fade-up">{{ description }}</p>
        </section>

        <section class="container-fluid pt-5 mt-md-5" id="gallery">
            <div class="grid">
                {% for item in gallery %}
                    <div class="grid-item {{ item.class }} grid-thumbnail">
                        <a data-fancybox="gallery" href="{{ item.img }}">
                            <img class="w-100 h-100 img-fluid" alt="{{ item.alt }}" src="{{ item.imgThumbnail }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="pt-5 mt-md-5" id="services">
            <div class="container text-center mb-5 pb-1">
                <h1>{{ services.title }}</h1>
                <p>{{ services.description }}</p>
            </div>
            <div class="container-fluid text-center">
                <div class="row justify-content-center">
                    {% for item in services.items %}
                        <div class="col-6 col-md-4 col-lg-3 mb-5" data-aos-duration="{{ loop.index }}00" data-aos="fade-up-right">
                            <img class="img-fluid lazy" alt="{{ item.alt }}" data-src="{{ item.img }}" style="max-height:50px; height:100%;">
                            <div>
                                <h4 class="mb-0 mt-2">{{ item.title }}</h4>
                                <p class="m-0">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="container-fluid pb-5 my-md-5" id="store">
            <div class="row mb-md-5">
                <div class="col-12 col-md-6 swiper-container order-2">
                    <div class="swiper-wrapper">
                        {% for item in amenity.gallery %}
                            <div class="swiper-slide">
                                <img alt="{{ item.alt }}" class="w-100 img-fluid" src="{{ item.img }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h1 data-aos="fade-up">{{ amenity.title }}</h1>
                    <p class="pr-auto pr-md-5" data-aos="fade-up">{{ amenity.description }}</p>
                    <div class="d-inline-block text-left" data-aos="fade-up">
                        <ul class="column-count-2 check-list">
                            {% for item in amenity.listFeatures %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {{ amenity.extra|raw }}
                </div>
            </div>
        </section>

        {{ ContactBanner.contactBanner(contact.title, contact.description, contact.btn.text, contact.btn.link, contact.img, contact.alt) }}

        <section class="container-fluid pt-5 mt-md-5 mb-5 px-0" data-aos="fade-up" id="store">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 order-2">
                    <div class="map-section" id="map" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}"></div>
                </div>
                <div class="col-12 col-md-6 pt-2 px-3 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h1>{{ location.title }}</h1>
                    <p class="pr-auto pr-md-5">{{ location.description|raw }}</p>
                    <form action="https://maps.google.com/maps" method="get" target="_blank">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input class="form-control mb-3" id="searchTextField" name="saddr" placeholder="{{ location.inputPlaceholder }}" type="text">
                                <input name="daddr" type="hidden" value="{{ location.location }}"/>
                                <button class="btn-lg px-5 py-2 mb-3 btn-blue" id="facilities" type="submit" value="Get directions">{{ location.buttonText }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
