{% extends "_main.twig" %}
{% import "./macros/contactBanner.twig" as ContactBanner %}
{% block body %}
    <header class="hero">
        <picture>
            <source media="(max-width: 768px)" srcset="{{ hero.srcMob }}">
            <source media="(min-width: 769px)" srcset="{{ hero.src }}">
            <img src="{{ hero.src }}">
        </picture>
        <div class="overlay"></div>
        <h2 class="title text-center mb-5">{{ hero.title }}</h2>
    </header>
    <main>
        <section class="container pt-5 mt-md-5 text-center" id="description">
            <p>{{ description }}</p>
        </section>

        <section class="container-fluid pt-5 mt-md-5" id="gallery">
            <div class="grid">
                {% for item in gallery %}
                    <div class="grid-item {{ item.class }}">
                        <a data-fancybox="gallery" href="{{ item.img }}">
                            <img class="w-100 h-100 img-fluid" src="{{ item.imgThumbnail }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="container-fluid pb-5 my-md-5" id="store">
            <div class="row mb-md-5">
                <div class="col-12 col-md-6 swiper-container order-2">
                    <div class="swiper-wrapper">
                        {% for item in amenity.gallery %}
                            <div class="swiper-slide">
                                <img alt="" class="w-100 img-fluid" src="{{ item.img }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-5 px-auto px-md-5 order-1 order-md-2 text-center text-md-left">
                    <h1>{{ amenity.title }}</h1>
                    <p class="pr-auto pr-md-5">{{ amenity.description }}</p>
                    <div class="d-inline-block text-left">
                        <ul class="column-count-2 check-list">
                            {% for item in amenity.listFeatures %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {{ ContactBanner.contactBanner(contact.title, contact.description, contact.btn.text, contact.btn.link, contact.img, contact.alt) }}

        <section class="container-fluid" id="brands">
            <div class="row">
                <div class="col-3 col-lg">
                    <img alt="" src="">
                </div>
            </div>
        </section>
    </main>
{% endblock %}
